<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  
<h2>Formulario de prueba</h2><span>| {{ name }}</span>

<div id="formulario" class="container-fluid mt-4 p-4">
<form>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nombre Completo</label>
        <input type="text" class="form-control" placeholder="Ingrese su nombre">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Correo Electronico</label>
        <input type="email" class="form-control" placeholder="Ingrese su correo">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Telefono</label>
        <input type="text" class="form-control" placeholder="Ingrese su numero telefonico">
      </div>
    </div>
  </div>
  <input type="submit" name="enviar" value="Enviar" class="btn btn-primary">
</form>
</div>
</div>

<router-outlet></router-outlet>
