<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  
<h2>Formulario de prueba</h2><span>| {{ name }}</span>

<div id="formulario" class="container-fluid mt-4 p-4">
<form autocomplete="off">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nombre Completo</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre"
        ngModel name="nombre" #nombre="ngModel" required>
        <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">
          <div *ngIf="nombre.errors.required">Nombre requerido</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Correo Electronico</label>
        <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo"
        ngModel name="correo" #correo="ngModel" required>
        <div class="alert alert-danger" *ngIf="correo.touched && !correo.valid">
          <div *ngIf="correo.errors.required">Correo requerido</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Telefono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Ingrese su numero telefonico" ngModel name="telefono" #telefono="ngModel">
      </div>
    </div>
  </div>
</form>
<hr>
<h4>Informacion:</h4>
Nombre: {{ nombre.value }} | Correo: {{ correo.value }} | Telefono: {{ telefono.value }}
</div>
</div>

<router-outlet></router-outlet>
